doctype html
html(lang="en")
    head
        title Update contact info
    body
            form(method="POST")
                label(for="newVal") Post API DEMO
                input(type="submit" value="Submit")